# Archivos de entorno y contraseñas
.env
config.php
*.ini

# Archivos de base de datos
*.sql
*.db

# Archivos de logs
*.log
logs/
error_log

# Archivos temporales
*.tmp
*.cache
*.bak
*.swp

# Carpetas del sistema / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos de XAMPP o PHPMyAdmin
htdocs/
phpmyadmin/
